


.chess
    flex-flow: row
    flex-wrap: wrap

    .tile
        display: flex
        justify-content: center
        align-items: center
        margin: 0
        height: 100%
        width: calc(100% / 8)
        background-color: unset

    .row
        display: flex
        height: calc(100% / 8)
        width: 100%
        background-color: $board

        &:nth-child(odd) .tile:nth-child(odd)
            background-color: $board-dark

        &:nth-child(even) .tile:nth-child(even)
            background-color: $board-dark

    .piece-icon
        width: 90%

    .possible-target
        background-color: $bg !important

    .tile-number
        color: red !important

.white-piece
    filter: invert(1)

.player2
    flex-flow: wrap-reverse

    .row
        flex-flow: row-reverse
