
.lobby-container
    position: relative
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.game
    position: relative
    top: 0
    left: 0
    height: 100vh
    width: 100vw

.chat
    pointer-events: none
    position: absolute
    opacity: 0


.select-game
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.game-mode
    border-left: 2px solid $hover
    border-right: 2px solid $hover
    margin: 0 20px
    width: 400px
    background-color: $bg
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5)
    transition: transform 250ms ease

    &:hover
        transform: scale(1.1)
        color: $bg
        cursor: pointer
        background-color: $hover

    h1
        text-align: center
        margin: 20px

.game-control
    position: absolute
    top: 50%
    right: 10%
    transform: translateY(-50%)
    z-index: 100
