// Typography
$font-family-sans-serif: 'Nunito', sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6
$font-colour: white

// Colors
$bg: rgba(102, 63, 35, 0.8)
$dark-tile: rgba(55, 40, 15, 0.93)
$light-tile: rgba(120, 83, 38, 0.93)
