// Typography
$font-family-sans-serif: 'Nunito', sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6
$font-colour: white

// Colors
$bg: rgb(7, 15, 35)
$bg-light: rgb(30, 57, 133)
$dark-tile: rgba(55, 40, 15, 1)
$light-tile: rgba(120, 83, 38, 1)
$nav-item: black
$hover: white
